* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');
  
  body, html{
	height: 100%;
  }
  
  body{
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;
	background-color: #1e1e1e;
	user-select: none;
  }
  
  img{
	display: block;
	width: 100%;
	height: auto;
  }
  
#header {
	position: absolute;
	top: 0;
	width: 100%;
	height: 15%;
	display: flex;
	background: #2a2b2a;
	min-height: 120px;
	text-align: center;
  }

.header-item {
	justify-content: center;
	align-items: center;
	text-align:center;
    vertical-align:middle;
	margin: auto;
}

.heading {
	display: flex;
	font-size: calc(1.5vw + 1.5vh);
	height: 100%;
	font-family: 'Cabin', sans-serif;
	color: white;
	background-color: #2a2b2a;
	width: 40%;
	margin: auto;
}

.heading:hover {
	background-color: #363636;
}

.filter {
	position: relative;
	height: 100%;
	border: 3px solid green;
}

.filter-img {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.filter:hover {
	background-color: #363636;
}

.filter:hover {
	background-color: #363636;
}

  .slider{
	position: relative;
	top: 7%;
	height: 70%;
	width: 100%;
	cursor: grab;
  }

  .grabbing {
	cursor: grabbing;
  }

  .grab {
	  cursor: grab;
  }
  
  .slider__inner{
	position: absolute;
	top: 37%;
	left: 0;
	height: 100%;
	pointer-events: none;
  }
  
  .slide{
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	position: absolute;
	top: 0;
	transform: translateY(-50%);
	width: 25vw;
	height: 65vh;
	padding: 1rem 1rem 1rem 1rem;
  }

.slide:hover {
	background-color: white;
}
  
  .slide__bg{
	position: absolute;
	top: 10%;
	left: 10%;
	bottom: 10%;
	right: 10%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }

.slide-title {
	font-family: 'Cabin', sans-serif;
	font-weight: thin;
	color: #e1e1e1;
	font-size: calc(1.35vw + 1.35vh);
	padding: 20px 0px;
}

.slide-topic {
	font-family: 'Cabin', sans-serif;
	font-weight: thin;
	color: #e1e1e1;
	font-size: calc(1vw + 1vh);
	font-style: italic;
	padding: 10px 0px;
}
  
  .text{
	position: absolute;
	color: #666;
	left: 4rem;
	bottom: 3rem;
  }
  
  .cursor-wrap{
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
  }
  
  .cursor{
	position: fixed;
	top: -30px;
	left: -30px;
  }