* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: Cabin;
	src: url('res/Cabin.ttf');
}
  
body {
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;
	background-color: #1d1d1d;
	user-select: none;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	top: 0;
	position: absolute;
	height: 20vh;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
	line-height: 20vh;
	z-index: 100;
	background-color: #313131;
	display: flex;
}

.title {
	width: 60%;
	height: 100%;
	text-align: center;
	color: rgb(225, 230, 231);
	font-size: 8vw;
	position: absolute;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	line-height: inherit;
	margin: auto;
}

.filter {
	width: 15%;
	height: 10vh;
	background-color: rgb(32, 32, 32);
	margin: auto;
	border-radius: 10px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	justify-content: center;
	align-items: center;
	line-height: 10vh;
}

.filter:hover {
	border: 3px solid white;
}

#filter-class {
	margin-left: 5%;
}

#filter-topic {
	margin-right: 5%;
}

.filter-text {
	line-height: inherit;
	align-self: center;
	text-align: center;
	font-size: 2.75vw;
	color: rgb(225, 230, 231);
}

.experiments {
	padding-top: calc(1vw + 1vh + 20vh);
	height: 100vh;
	width: 100%;
	justify-content: center;
	overflow-y: scroll;
}

.experiment-alignment {
	width: 100%;
}

td {
	padding: calc(1vw + 1vh);
	vertical-align: middle;
	align-self: center;
	align-items: center;
}

.experiment {
	position: relative;
	border-radius: 8px;
	font-family: Arial, Helvetica, sans-serif;
	width: 25vw; 
	height: 30vh;
	background-color: #494949;
	text-align: center;
	line-height: 30vh;
	display: flex;
	justify-content: center;
	overflow: hidden;
	margin: auto;
	background-color: #313131;
}

.experiment > * {
	opacity: 0.7;
}

.experiment:hover {
	border: 3px solid white;
}

.experiment:hover > * {
	opacity: 1.0;
}

.experiment:hover > h4 {
	animation-name: exp-text-hover;
	animation-duration: 0.5s;
	opacity: 0.0;
	z-index: 0;
}

.experiment > h4 {
	animation-name: exp-text-unhover;
	animation-duration: 0.5s;
	z-index: 1;
}

.prev-vid {
	position: absolute;
	height: 100%;
	overflow: hidden; 
    z-index: 0.01;
}
/*
h4 {
	text-align: center;
	color: #000;
	width: 80%;
	height: 100%;
	margin: 0 auto;
}*/

h4 {
  position: unset;
  font-size: unset;
  text-align: center;
  mix-blend-mode: difference;
  color: white;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}


@keyframes exp-text-hover {
	from { 
		opacity: 100%;
		z-index: 1;
	}

	to { 
		opacity: 0%;
		z-index: 0;
	}
}

@keyframes exp-text-unhover {
	from { 
		opacity: 0%;
		z-index: 0;
	}

	to { 
		opacity: 100%;
		z-index: 1;
	}
}

/*
	color: rgb(125, 125, 125); 
    mix-blend-mode: difference;
*/

.sidenav {
	position: absolute;
	height: 100vh;
	width: 0;
	z-index: 1000;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	text-align: center;
	justify-content: center;
	display: block;
  }
  
  /* The navigation menu links */
  .sidenav > a {
	line-height: 200%;
	width: 90%;
	height: 10vh;
	text-decoration: none;
	font-size: 2.75vw;
	background-color: #1d1d1d;
	border-radius: 8px;
	color: #8c8c8c;
	transition: 0.3s;
	display: block;
  }

  #sidenav-left > a {
	margin: 3vh 20px;
  }

  #sidenav-right > a {
	margin: 3vh 30px;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav > a:hover {
	color: #f1f1f1;
  }