* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');
  
body {
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;
	background-color: #1e1e1e;
	user-select: none;
}

.topic-squares {
	position: inherit;
	/*margin: 5vw;*/
	margin: 25vw;
	top: 0;
	left: 0;
}

.tpc-sqr-item {
	display: grid;
	border-radius: 8px;
	font-family: Arial, Helvetica, sans-serif;
	width: 25vw; 
	height: 30vh;
	background-color: #494949;
	text-align: center;
	line-height: 30vh;
	overflow: hidden;
}

.tpc-sqr-item > * {
	grid-row: 1;
	grid-column: 1;
}

.tpc-sqr-item:hover {
	opacity: 0.7;
}

.tpc-sqr-item:hover > .tpc-item-text {
	animation-name: tpc-sqr-item-text-hover;
	animation-duration: 0.3s;
	opacity: 0.0;
	z-index: 0;
}

.tpc-sqr-item:hover > .prev-vid {
	animation-name: prev-vid-hover;
	animation-duration: 0.3s;
	opacity: 1.0;
}

.prev-vid {
	position: inherit;
	height: 100%;
	overflow: hidden; 
    z-index: 0.01;
	opacity: 0.6;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.tpc-item-text {
	display: inline-block;
	vertical-align: middle;
	line-height: inherit;
	font-size: 3vw;
	color: #000;
	font-weight: bolder;
	text-shadow: 2px black;
	z-index: 1;
}

@keyframes tpc-sqr-item-text-hover {
	from { opacity: 100%; }
	to { opacity: 0%; }
	100% { z-index: 0; }
}

@keyframes prev-vid-hover {
	from { opacity: 0.6; }
	to { opacity: 1.0; }
}

/*
	color: rgb(125, 125, 125); 
    mix-blend-mode: difference;
*/